Source: python-network
Section: python
Priority: optional
Maintainer: Bas Wijnen <wijnen@debian.org>
Build-Depends-Indep: debhelper (>= 9), python-all, python3-all, dh-python
Standards-Version: 3.9.5

Package: python-network
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-xdgbasedir, openssl
Description: python module for easy networking
 Implementing networking in C is a pain. Unfortunately, much of that pain is
 copied to Python. This module instead tries to follow the "batteries included"
 approach, like the rest of Python. With this module, networking is a piece of
 cake. It can use tcp sockets and unix domain sockets, and supports avahi.
 .
 This module provides four classes: Socket and Server for string-based
 connections, and RPCSocket and RPCServer for connections which call methods on
 remote objects. All of this is symmetrical: once the connection is
 established, the client and server use the same interface.
 .
 For providing RPC functionality in a language independent way, see
 python-wshttpd.

Package: python3-network
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-xdgbasedir, openssl
Description: python module for easy networking
 Implementing networking in C is a pain. Unfortunately, much of that pain is
 copied to Python. This module instead tries to follow the "batteries included"
 approach, like the rest of Python. With this module, networking is a piece of
 cake. It can use tcp sockets and unix domain sockets, and supports avahi.
 .
 This module provides four classes: Socket and Server for string-based
 connections, and RPCSocket and RPCServer for connections which call methods on
 remote objects. All of this is symmetrical: once the connection is
 established, the client and server use the same interface.
 .
 For providing RPC functionality in a language independent way, see
 python-wshttpd.
